{% extends "MinimalCoreBundle::base.html.twig" %}
{% block data %}
  <h1>{{data.title}}</h1>
  <time>{{ data.published|localizeddate('medium', 'none', app.request.locale) }}</time>
  <div>{{data.content|raw}}</div>
{% endblock %}
